.box {
	background-color: white;
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 50%);
	
	/* to be deleted */
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;

	/* ahould be 100% */
	width: 90%;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
}

.input[type="range"] {
	display: inline-block;
	margin: 0 0.5rem !important;
	width: 90%;
}

.range {
	display: flex;
	padding: 0.5rem 0;
	border-radius: 5px;
}

.range-item {
	width: 100%;
}

.range-labels {
	display: flex;
	/* fit with JS */
	justify-content: space-between;

	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 90%;

	color: #515150 !important;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

/* .range-labels li:last-child {
	padding-right: 2rem;
} */

.range-title {
	width: 100%;
	max-width: 100px;
	/* display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;  
  	overflow: hidden; */

	/* ask about font-family */
	color: #515150 !important;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.output {
	display: inline-block;
	text-align: center;

	width: 100%;
}

.output-discount {
	display: flex;
	justify-content: center;
}

.output-paragraph {
	color: white;

	/* ask about font-family */
	color: #ede815;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.output-number, 
.output-final-number-discount,
.output-discount {
	color: #5fd0df;

	/* ask about font-family */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: 600;
}

.output-final-number-error {
	color: red;
	font-weight: 500;
}

/* Reset input range's default styling */
input[type=range],
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 3px;
  background: #5fd0df;
  border: none;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ede815;
  margin-top: -8px;
}


input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #5fd0df;
}

.selector {
	background: #0f5760;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	font-weight: 600;
	height: 50px;
	position: absolute;
	top: 0;
	width: 50px;
}
.selector::after {
	content: '';
	border-top: 17px solid #0f5760;
	border-left: 24px solid white;
	border-right: 24px solid white;
	position: absolute;
	bottom: -14px;
	left: 0;
} 


/* input[type=range]::-webkit-slider-thumb::after {
	position: relative;
	content: '';
	border-top: 17px solid #0f5760;
	border-left: 24px solid white;
	border-right: 24px solid white;
	position: absolute;
	bottom: -14px;
	left: 0;
} */
